* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Zalando Sans", sans-serif;
}

body {
  margin: 0 25px;
  height: 297mm;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 210mm;
  margin: 0 auto;
}

div.container h1.inv-list {
  text-transform: uppercase;
  margin-bottom: 25px;
}
div.container button.inv-list {
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 3px solid darkslategray;
  color: darkslategray;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
div.container button.inv-list:hover {
  transform: translateY(-5px);
  color: white;
  background-color: darkslategray;
}
div.container button.inv-list:active {
  transform: translateY(0px) scale(1);
}
div.container hr {
  margin: 25px 0;
}
div.container div#invoice-list-bin p {
  font-size: 26px;
  font-style: italic;
}
div.container th {
  padding: 15px;
  font-size: 20px;
}
div.container th.special-th {
  width: 250px;
}
div.container td {
  padding: 10px;
  text-align: center;
}
div.container td.buttons-td div {
  display: flex;
  justify-content: center;
  gap: 10px;
}
div.container button.view-btn,
div.container button.edit-btn,
div.container button.delete-btn {
  font-size: 16px;
  padding: 5px 10px;
  border: 3px solid darkslategray;
  color: darkslategray;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
div.container button.edit-btn {
  border-color: darkseagreen;
  color: darkseagreen;
}
div.container button.delete-btn {
  border-color: crimson;
  color: crimson;
}
div.container button.view-btn:hover,
div.container button.edit-btn:hover,
div.container button.delete-btn:hover {
  transform: translateY(-5px);
  color: white;
  background-color: darkslategray;
}
div.container button.edit-btn:hover {
  background-color: darkseagreen;
}
div.container button.delete-btn:hover {
  background-color: crimson;
}
div.container button.view-btn:active,
div.container button.edit-btn:active,
div.container button.delete-btn:active {
  transform: translateY(0px) scale(1);
}

div.actions {
  width: 210mm;
  display: flex;
  margin: 25px 0 25px auto;
  max-width: 450px;
  justify-content: space-between;
}
div.actions button {
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 3px solid darkslategray;
  color: darkslategray;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
div.actions button:hover {
  transform: translateY(-5px);
  color: white;
  background-color: darkslategray;
}
div.actions button:active {
  transform: translateY(0px) scale(1);
}

header {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}
header div.header-div {
  width: 100%;
  max-width: 210mm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
header div.header-div div.invoice-header {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
}
header div.header-div div.header-logo {
  display: flex;
  align-items: center;
}

div.sask-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px auto;
  line-height: 1.5;
}
div.sask-div div.sask-nr-div {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
div.sask-div div.sask-nr-div span.sask-nr {
  margin-left: 10px;
  font-weight: 500;
}
div.sask-div div.sask-nr-div button.bebras-button {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 3px solid darkslategray;
  color: darkslategray;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
div.sask-div div.sask-nr-div button.bebras-button:hover {
  transform: translateY(-5px);
  color: white;
  background-color: darkslategray;
}
div.sask-div div.sask-nr-div button.bebras-button:active {
  transform: translateY(0px) scale(1);
}
div.sask-div div.sask-date-div {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
div.sask-div div.sask-date-div p {
  margin-right: 10px;
}
div.sask-div div.sask-date-div p span.sask-data {
  margin-left: 10px;
  font-weight: 500;
}
div.sask-div div.sask-date-div button.bebras-button2 {
  padding: 10px 20px;
  border: 3px solid darkslategray;
  color: darkslategray;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
div.sask-div div.sask-date-div button.bebras-button2:hover {
  transform: translateY(-5px);
  color: white;
  background-color: darkslategray;
}
div.sask-div div.sask-date-div button.bebras-button2:active {
  transform: translateY(0px) scale(1);
}

section.buyer-seller {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
section.buyer-seller input.buyer-input {
  border: 1px dashed #ccc;
  background: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  padding: 2px 5px;
  max-width: 250px;
  color: #333;
  border-radius: 4px;
}
section.buyer-seller input.buyer-input:focus {
  outline: none;
  border: 1px solid #ff6600;
  background: #fff;
}
section.buyer-seller div.buyer {
  display: flex;
  flex-direction: column;
}
section.buyer-seller div.buyer h4 {
  margin-bottom: 10px;
}
section.buyer-seller div.buyer p {
  line-height: 1.5;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: 600;
}
section.buyer-seller div.buyer p span.buyer-span {
  font-weight: 400;
}
section.buyer-seller div.seller {
  display: flex;
  flex-direction: column;
}
section.buyer-seller div.seller h4 {
  margin-bottom: 10px;
}
section.buyer-seller div.seller p {
  line-height: 1.5;
  padding-right: 10px;
  font-weight: 600;
}
section.buyer-seller div.seller p span.seller-span {
  font-weight: 400;
}

section.products-list {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
section.products-list section.products-list h4 {
  height: 100px;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.products-list section.products-list div.eilesNr {
  width: 50px;
}
section.products-list section.products-list div.preke {
  flex-grow: 1;
  min-width: 200px;
}
section.products-list section.products-list div.kiekis {
  width: 80px;
}
section.products-list section.products-list div.vnt-kaina {
  width: 100px;
}
section.products-list section.products-list div.nuolaida {
  width: 140px;
}
section.products-list section.products-list div.suma-be-nuolaidos {
  width: 120px;
}
section.products-list section.products-list div.suma-su-nuolaida {
  width: 120px;
}
section.products-list {
  display: flex;
  margin: 0 auto 50px auto;
  justify-content: center;
  position: relative;
}
section.products-list div.eilesNr input.edit-qty,
section.products-list div.preke input.edit-qty,
section.products-list div.kiekis input.edit-qty {
  width: 60px;
  border: 1px solid #ddd;
  font-weight: bold;
  margin: 2px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-self: center;
  box-sizing: border-box;
}
section.products-list div.eilesNr input.edit-qty:focus,
section.products-list div.preke input.edit-qty:focus,
section.products-list div.kiekis input.edit-qty:focus {
  border-color: #ff6600;
}
section.products-list div.vnt-kaina > p, section.products-list div.vnt-kaina > input, section.products-list div.vnt-kaina > .discount-edit-container,
section.products-list div > p,
section.products-list div > input,
section.products-list div > .discount-edit-container,
section.products-list div.nuolaida > p,
section.products-list div.nuolaida > input,
section.products-list div.nuolaida > .discount-edit-container,
section.products-list div.nuolaidos-tipas > p,
section.products-list div.nuolaidos-tipas > input,
section.products-list div.nuolaidos-tipas > .discount-edit-container,
section.products-list div.suma-be-nuolaidos > p,
section.products-list div.suma-be-nuolaidos > input,
section.products-list div.suma-be-nuolaidos > .discount-edit-container,
section.products-list div.suma-su-nuolaida > p,
section.products-list div.suma-su-nuolaida > input,
section.products-list div.suma-su-nuolaida > .discount-edit-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
section.products-list div.vnt-kaina > p select.edit-discount-type, section.products-list div.vnt-kaina > input select.edit-discount-type, section.products-list div.vnt-kaina > .discount-edit-container select.edit-discount-type,
section.products-list div > p select.edit-discount-type,
section.products-list div > input select.edit-discount-type,
section.products-list div > .discount-edit-container select.edit-discount-type,
section.products-list div.nuolaida > p select.edit-discount-type,
section.products-list div.nuolaida > input select.edit-discount-type,
section.products-list div.nuolaida > .discount-edit-container select.edit-discount-type,
section.products-list div.nuolaidos-tipas > p select.edit-discount-type,
section.products-list div.nuolaidos-tipas > input select.edit-discount-type,
section.products-list div.nuolaidos-tipas > .discount-edit-container select.edit-discount-type,
section.products-list div.suma-be-nuolaidos > p select.edit-discount-type,
section.products-list div.suma-be-nuolaidos > input select.edit-discount-type,
section.products-list div.suma-be-nuolaidos > .discount-edit-container select.edit-discount-type,
section.products-list div.suma-su-nuolaida > p select.edit-discount-type,
section.products-list div.suma-su-nuolaida > input select.edit-discount-type,
section.products-list div.suma-su-nuolaida > .discount-edit-container select.edit-discount-type {
  width: 100%;
  flex-grow: 1;
}
section.products-list div.vnt-kaina input.edit-price,
section.products-list div.vnt-kaina input.edit-qty,
section.products-list div input.edit-price,
section.products-list div input.edit-qty,
section.products-list div.nuolaida input.edit-price,
section.products-list div.nuolaida input.edit-qty,
section.products-list div.nuolaidos-tipas input.edit-price,
section.products-list div.nuolaidos-tipas input.edit-qty,
section.products-list div.suma-be-nuolaidos input.edit-price,
section.products-list div.suma-be-nuolaidos input.edit-qty,
section.products-list div.suma-su-nuolaida input.edit-price,
section.products-list div.suma-su-nuolaida input.edit-qty {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section.products-list div.vnt-kaina,
section.products-list div,
section.products-list div.nuolaida,
section.products-list div.nuolaidos-tipas,
section.products-list div.suma-be-nuolaidos,
section.products-list div.suma-su-nuolaida {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
section.products-list div.vnt-kaina .special,
section.products-list div .special,
section.products-list div.nuolaida .special,
section.products-list div.nuolaidos-tipas .special,
section.products-list div.suma-be-nuolaidos .special,
section.products-list div.suma-su-nuolaida .special {
  justify-content: center;
}
section.products-list div.vnt-kaina h4,
section.products-list div h4,
section.products-list div.nuolaida h4,
section.products-list div.nuolaidos-tipas h4,
section.products-list div.suma-be-nuolaidos h4,
section.products-list div.suma-su-nuolaida h4 {
  padding: 20px 5px;
  display: flex;
  text-align: center;
  align-items: center;
  height: 100px;
}
section.products-list div.vnt-kaina p.eiles-numeris,
section.products-list div p.eiles-numeris,
section.products-list div.nuolaida p.eiles-numeris,
section.products-list div.nuolaidos-tipas p.eiles-numeris,
section.products-list div.suma-be-nuolaidos p.eiles-numeris,
section.products-list div.suma-su-nuolaida p.eiles-numeris {
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  font-weight: 500;
}
section.products-list div.vnt-kaina p.prekiu-listas,
section.products-list div p.prekiu-listas,
section.products-list div.nuolaida p.prekiu-listas,
section.products-list div.nuolaidos-tipas p.prekiu-listas,
section.products-list div.suma-be-nuolaidos p.prekiu-listas,
section.products-list div.suma-su-nuolaida p.prekiu-listas {
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
}
section.products-list div.vnt-kaina input.edit-name,
section.products-list div input.edit-name,
section.products-list div.nuolaida input.edit-name,
section.products-list div.nuolaidos-tipas input.edit-name,
section.products-list div.suma-be-nuolaidos input.edit-name,
section.products-list div.suma-su-nuolaida input.edit-name {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}
section.products-list div.vnt-kaina input.edit-price,
section.products-list div input.edit-price,
section.products-list div.nuolaida input.edit-price,
section.products-list div.nuolaidos-tipas input.edit-price,
section.products-list div.suma-be-nuolaidos input.edit-price,
section.products-list div.suma-su-nuolaida input.edit-price {
  width: 70px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}
section.products-list div.vnt-kaina .discount-edit-container,
section.products-list div .discount-edit-container,
section.products-list div.nuolaida .discount-edit-container,
section.products-list div.nuolaidos-tipas .discount-edit-container,
section.products-list div.suma-be-nuolaidos .discount-edit-container,
section.products-list div.suma-su-nuolaida .discount-edit-container {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
section.products-list div.vnt-kaina .discount-edit-container input,
section.products-list div .discount-edit-container input,
section.products-list div.nuolaida .discount-edit-container input,
section.products-list div.nuolaidos-tipas .discount-edit-container input,
section.products-list div.suma-be-nuolaidos .discount-edit-container input,
section.products-list div.suma-su-nuolaida .discount-edit-container input {
  width: 50px;
}
section.products-list div.vnt-kaina .discount-edit-container select,
section.products-list div .discount-edit-container select,
section.products-list div.nuolaida .discount-edit-container select,
section.products-list div.nuolaidos-tipas .discount-edit-container select,
section.products-list div.suma-be-nuolaidos .discount-edit-container select,
section.products-list div.suma-su-nuolaida .discount-edit-container select {
  width: 60px;
}

section.products-list::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  border-bottom: 1px solid black;
  z-index: 1;
}

section.final-sum {
  margin-bottom: 50px;
}
section.final-sum div {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}
section.final-sum div span.total-sums {
  font-weight: bold;
}

div.container p.apmoketi-iki {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
  margin-right: 10px;
}

section.payment-term {
  width: 100%;
  max-width: 210mm;
  margin: auto;
}
section.payment-term div.sask-israse {
  display: flex;
  line-height: 2;
  margin-bottom: 10px;
}
section.payment-term div.sask-israse div {
  width: 180px;
}
section.payment-term div.sask-israse div.israse-vardas {
  line-height: 2;
}
section.payment-term div.sask-israse div.line {
  border-bottom: 1.5px solid black;
  width: 350px;
}
section.payment-term div.sask-israse p {
  width: 200px;
  font-style: italic;
  font-size: 14px;
}
section.payment-term div.sask-prieme {
  display: flex;
  line-height: 2;
  margin-bottom: 10px;
}
section.payment-term div.sask-prieme div {
  width: 180px;
}
section.payment-term div.sask-prieme div.prieme-vardas {
  line-height: 2;
}
section.payment-term div.sask-prieme div.line {
  border-bottom: 1.5px solid black;
  width: 350px;
}
section.payment-term div.sask-prieme p {
  width: 200px;
  font-style: italic;
  font-size: 14px;
}

section.bebras-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  font-family: "Lobster", sans-serif;
  font-size: 50px;
  margin-bottom: 100px;
}
section.bebras-section img.bebras-img {
  width: 500px;
}
section.bebras-section p.bebras-say {
  font-family: "Lobster", sans-serif;
  font-size: 50px;
}
section.bebras-section p.bebras-say2 {
  font-family: "Lobster", sans-serif;
  color: crimson;
  font-size: 60px;
}
section.bebras-section button.fix {
  font-family: "Lobster", sans-serif;
  font-size: 50px;
  padding: 20px 40px;
  border: 5px solid darkslategray;
  color: darkslategray;
  font-weight: bold;
  border-radius: 70px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
section.bebras-section button.fix:hover {
  transform: translateY(-5px);
  color: white;
  background-color: darkslategray;
}
section.bebras-section button.fix:active {
  transform: translateY(0px) scale(1);
}
