$width: 210mm;
$height: 297mm;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans", sans-serif;
}

body {
    margin: 0 25px;
    height: $height;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: $width;
    margin: 0 auto;
}

div.container {

    h1.inv-list {
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    button.inv-list {
        font-size: 17px;
        text-transform: uppercase;
        padding: 10px 15px;
        border: 3px solid darkslategray;
        color: darkslategray;
        font-weight: bold;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.3s ease-out;
    }

    button.inv-list:hover {
        transform: translateY(-5px);
        color: white;
        background-color: darkslategray;
    }

    button.inv-list:active {
        transform: translateY(0px) scale(1);
    }

    hr {
        margin: 25px 0;
    }

    div#invoice-list-bin p {
        font-size: 26px;
        font-style: italic;
    }

    th {
        padding: 15px;
        font-size: 20px;
    }

    th.special-th {
        width: 250px;
    }

    td {
        padding: 10px;
        text-align: center;
    }

    td.buttons-td {

        div {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }

    button.view-btn,
    button.edit-btn,
    button.delete-btn {
        font-size: 16px;
        padding: 5px 10px;
        border: 3px solid darkslategray;
        color: darkslategray;
        font-weight: bold;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.3s ease-out;
    }

    button.edit-btn {
        border-color: darkseagreen;
        color: darkseagreen;
    }

    button.delete-btn {
        border-color: crimson;
        color: crimson;
    }

    button.view-btn:hover,
    button.edit-btn:hover,
    button.delete-btn:hover {
        transform: translateY(-5px);
        color: white;
        background-color: darkslategray;
    }

    button.edit-btn:hover {
        background-color: darkseagreen;
    }

    button.delete-btn:hover {
        background-color: crimson;
    }

    button.view-btn:active,
    button.edit-btn:active,
    button.delete-btn:active {
        transform: translateY(0px) scale(1);
    }
}


div.actions {
    width: $width;
    display: flex;
    margin: 25px 0 25px auto;
    max-width: 450px;
    justify-content: space-between;

    button {
        font-size: 16px;
        text-transform: uppercase;
        padding: 10px 15px;
        border: 3px solid darkslategray;
        color: darkslategray;
        font-weight: bold;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.3s ease-out;
    }

    button:hover {
        transform: translateY(-5px);
        color: white;
        background-color: darkslategray;
    }

    button:active {
        transform: translateY(0px) scale(1);
    }
}


header {
    // background-color: lightsalmon;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;

    div.header-div {
        width: 100%;
        max-width: $width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        div.invoice-header {
            font-size: 36px;
            text-transform: uppercase;
            font-weight: bold;
        }

        div.header-logo {
            display: flex;
            align-items: center;
        }
    }
}

div.sask-div {
    // background-color: lightsalmon;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px auto;
    line-height: 1.5;

    div.sask-nr-div {
        // background-color: goldenrod;
        display: flex;
        max-width: 100%;
        justify-content: space-between;

        span.sask-nr {
            margin-left: 10px;
            font-weight: 500;
        }

        button.bebras-button {
            text-transform: uppercase;
            padding: 10px 20px;
            border: 3px solid darkslategray;
            color: darkslategray;
            font-weight: bold;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s ease-out;
        }

        button.bebras-button:hover {
            transform: translateY(-5px);
            color: white;
            background-color: darkslategray;
        }

        button.bebras-button:active {
            transform: translateY(0px) scale(1);
        }
    }

    div.sask-date-div {
        // background-color: goldenrod;
        display: flex;
        max-width: 100%;
        justify-content: space-between;

        p {
            margin-right: 10px;

            span.sask-data {
                margin-left: 10px;
                font-weight: 500;
            }
        }

        button.bebras-button2 {
            padding: 10px 20px;
            border: 3px solid darkslategray;
            color: darkslategray;
            font-weight: bold;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s ease-out;
        }

        button.bebras-button2:hover {
            transform: translateY(-5px);
            color: white;
            background-color: darkslategray;
        }

        button.bebras-button2:active {
            transform: translateY(0px) scale(1);
        }
    }
}

section.buyer-seller {
    // background-color: lightsalmon;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // padding-right: 150px;
    margin-bottom: 70px;

    input.buyer-input {
        border: 1px dashed #ccc;
        background: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        padding: 2px 5px;
        max-width: 250px;
        color: #333;
        border-radius: 4px;

        &:focus {
            outline: none;
            border: 1px solid #ff6600; // Beaver Corp Orange
            background: #fff;
        }
    }

    div.buyer {
        display: flex;
        flex-direction: column;

        h4 {
            margin-bottom: 10px;
        }

        p {
            line-height: 1.5;
            padding-right: 10px;
            margin-right: 10px;
            font-weight: 600;

            span.buyer-span {
                font-weight: 400;
            }
        }
    }

    div.seller {
        display: flex;
        flex-direction: column;

        h4 {
            margin-bottom: 10px;
        }

        p {
            line-height: 1.5;
            padding-right: 10px;
            font-weight: 600;

            span.seller-span {
                font-weight: 400;
            }
        }
    }
}

section.products-list {

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    section.products-list h4 {
        height: 100px;
        border-bottom: 1px solid black;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.products-list {
        div.eilesNr {
            width: 50px;
        }

        div.preke {
            flex-grow: 1;
            min-width: 200px;
        }

        div.kiekis {
            width: 80px;
        }

        div.vnt-kaina {
            width: 100px;
        }

        div.nuolaida {
            width: 140px;
        }

        // Extra width for input + select
        div.suma-be-nuolaidos {
            width: 120px;
        }

        div.suma-su-nuolaida {
            width: 120px;
        }
    }

    // background-color: lightsalmon;
    display: flex;
    margin: 0 auto 50px auto;
    justify-content: center;
    position: relative;
    // gap: 10px;

    div.eilesNr,
    div.preke,
    div.kiekis {

        input.edit-qty {
            width: 60px;
            border: 1px solid #ddd;
            font-weight: bold;
            margin: 2px;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            align-self: center;
            // min-height: 40px;
            box-sizing: border-box;

            &:focus {
                border-color: #ff6600;
            }
        }
    }

    div.vnt-kaina,
    div,
    div.nuolaida,
    div.nuolaidos-tipas,
    div.suma-be-nuolaidos,
    div.suma-su-nuolaida {

        // Ensure every child (input or p) behaves like a row
        &>p,
        &>input,
        &>.discount-edit-container {
            // height: 60px; // Unified height for all rows
            // width: 150px;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            select.edit-discount-type {
                width: 100%;
                flex-grow: 1;
            }
        }

        input.edit-price,
        input.edit-qty {
            height: 40px; // The input itself is smaller
            margin-top: 10px; // Center it within the 60px "row"
            margin-bottom: 10px;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        // flex-wrap: wrap;

        .special {
            // width: 200px;
            justify-content: center;
        }

        h4 {
            padding: 20px 5px;
            display: flex;
            text-align: center;
            align-items: center;
            height: 100px;
            // border-top: 1px solid black;
            // border-bottom: 1px solid black;
        }

        p.eiles-numeris {
            padding: 5px 5px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            align-self: center;
            width: 100%;
            min-height: 50px;
            box-sizing: border-box;
            font-weight: 500;
        }

        p.prekiu-listas {
            padding: 5px 5px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            align-self: center;
            width: 100%;
            min-height: 50px;
            box-sizing: border-box;
        }

        input.edit-name {
            // width: 100%; // or whatever fits your column
            border: 1px solid #ddd;
            padding: 5px;
            border-radius: 4px;
            font-size: 14px;
        }

        input.edit-price {
            width: 70px; // or whatever fits your column
            border: 1px solid #ddd;
            padding: 5px;
            border-radius: 4px;
            font-size: 14px;
        }

        .discount-edit-container {
            display: flex;
            gap: 5px;
            margin-bottom: 5px; // match your row height

            input {
                width: 50px;
            }

            select {
                width: 60px;
            }
        }
    }
}

section.products-list::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    border-bottom: 1px solid black;
    z-index: 1;
}


section.final-sum {
    margin-bottom: 50px;

    div {
        display: flex;
        flex-direction: column;
        align-items: last baseline;
        // padding-right: 50px;

        span.total-sums {
            font-weight: bold;
        }
    }
}


div.container {

    p.apmoketi-iki {
        font-weight: 500;
        font-size: 18px;
        // max-width: $width;
        // margin: auto;
        margin-bottom: 15px;
        margin-right: 10px;
        // width: 180px;
    }
}

section.payment-term {
    // background-color: lightsalmon;
    width: 100%;
    max-width: $width;
    margin: auto;

    div.sask-israse {
        // background-color: goldenrod;
        display: flex;
        line-height: 2;
        margin-bottom: 10px;

        div {
            width: 180px;
        }

        div.israse-vardas {
            line-height: 2;
        }

        div.line {
            border-bottom: 1.5px solid black;
            width: 350px;
            // height: 2px;
            // border-radius: 30px;
            // background-color: black;
            // // margin: 28px auto;
            // align-items: center;
        }

        p {
            width: 200px;
            font-style: italic;
            font-size: 14px;
        }
    }

    div.sask-prieme {
        // background-color: goldenrod;
        display: flex;
        line-height: 2;
        margin-bottom: 10px;

        div {
            width: 180px;
        }

        div.prieme-vardas {
            line-height: 2;
        }

        div.line {
            border-bottom: 1.5px solid black;
            width: 350px;
            // height: 2px;
            // border-radius: 30px;
            // background-color: black;
            // margin: 28px auto;
            // align-items: center;
        }

        p {
            width: 200px;
            font-style: italic;
            font-size: 14px;
        }
    }
}




// -----------------------------------------------------------------------------------
// SECRET WEAPON

section.bebras-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    margin-bottom: 100px;

    img.bebras-img {
        width: 500px;
    }

    p.bebras-say {
        font-family: "Lobster", sans-serif;
        font-size: 50px;
    }

    p.bebras-say2 {
        font-family: "Lobster", sans-serif;
        color: crimson;
        font-size: 60px;
    }

    button.fix {
        font-family: "Lobster", sans-serif;
        font-size: 50px;
        padding: 20px 40px;
        border: 5px solid darkslategray;
        color: darkslategray;
        font-weight: bold;
        border-radius: 70px;
        cursor: pointer;
        transition: 0.3s ease-out;
    }

    button.fix:hover {
        transform: translateY(-5px);
        color: white;
        background-color: darkslategray;
    }

    button.fix:active {
        transform: translateY(0px) scale(1);
    }
}

// input.buyer-input,
// input.edit-qty {
//     border: 1px dashed #ccc;
//     background: transparent;
//     font-size: inherit;
//     font-family: inherit;
//     padding: 2px;
//     width: 100%;

//     &:focus {
//         outline: none;
//         border-color: #ff6600; // Beaver orange!
//         background: #fff8f0;
//     }
// }

// // Make the quantity inputs smaller
// input.edit-qty {
//     width: 50px;
//     text-align: center;
// }